body{
  font-family: "Gill Sans","Franklin Gothic Medium","Lucida Grande",Arial,Helvetica;
  background: #002F2F none repeat scroll 0 0;
}
#wrapper{
  background: #ACA883 url(/themes/ansuz_theme_isotope11/images/bg_y.png) repeat-x scroll 0 0;
  color: black;
}
#content_wrapper{
  background: #ACA883 url(/themes/ansuz_theme_isotope11/images/bg.png) no-repeat scroll 0 0;
  width: 920px;
  margin: 0 auto;
}
#main{
  width: 800px;
  margin: 0 auto;
  position: relative;
}
#header{
  margin-bottom: 10px;
}
#header h1{
  font-size: 260%;
  padding: 10px 0;
  width: 260px;
  color: #002f2f;
}
#header .credits{
  display: block;
  background-color: #f8edbb;
  color: #111;
  border: 10px solid #ded4a7;
  border-top: 0;
  position: absolute;
  top: 0;
  left: 500px;
  padding: 4px 10px 10px 10px;
  line-height: 1.4em;
}
#header .credits a{
  background-color: #868a1f;
  padding: 2px;
  color: white;
}
#header h1 span.logo{
}
#sidebar{
  width: 200px;
  float: left;
  margin: 0 10px 0 0;
}
#navigation h3{
  display: none;
}
#navigation li a{
  padding: 5px 10px;
  background: #dad7b4 none repeat scroll 0 50%;
  color: #559096;
  display: block;
  text-decoration: none;
}
#navigation li.active a,
#navigation li.active a:hover {
  background: #559096 none repeat scroll 0 50%;
  color: white;
  cursor: default;
}
#navigation li a:hover {
  background-color: #d5d1ad;
}
div#breadcrumb{
 margin: -10px -10px 5px -10px;
 padding: 10px;
}
#content{
  width: 570px;
  float: left;
  padding: 10px;
}
#footer{
  margin-top: 10px;
  background: #002F2F none repeat scroll 0 0;
  color: #BBBBBB;
  padding: 10px;
  text-align: center;
}
div.clear{
  clear: both;
}
h2{
  font-size: 175%;
  color: #559096;
  border-bottom: 1px solid #CCCCCC;
}
h3{
  font-size: 120%;
  color: #559096;
  margin: 20px 0 6px;
}
p{
  margin-bottom: 10px;
}
ol{
  margin-left: 20px;
}
ol li{
  list-style-type: decimal;
}
.module{
  background-color: #333;
  color: #ccc;
  padding: 10px;
}
a{
  color: #0084FF;
}
